* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: outfit;
  src: url(./Outfit-VariableFont_wght.ttf);
}

html {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: hsl(212, 45%, 89%);
  font-family: outfit;
}

.box-branca {
  display: flex;
  background-color: white;
  width: 440px;
  height: 560px;
  padding-top: 30px;
  padding-bottom: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  flex-direction: column;
}

.box-branca img {
  width: 400px;
  height: 400px;
  border-radius: 15px;
}
.box-branca h1 {
  text-align: center;
  font-size: 1.8rem;
  margin: 0 40px;
  margin-top: 20px;
  color: hsl(218, 44%, 22%);
}

.box-branca p {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.2rem;
  margin: 20px 40px;
  color: hsl(212, 45%, 89%);
}
